
<h2>Little about us</h2>

<img src="https://beaforceofgood.files.wordpress.com/2015/08/indian-grocery.jpg?w=450" style="padding-bottom: 50px" />
<br />

<b>We are an online Indian / Pakistani / Bangla grocery delivery service. We serve all areas in Canada.  We believe getting your favorite brands should be easy and we make this possible through our carefully chosen suppliers, integrated technology platform and dedicated shipping partnerships. So all you need to worry about is how to enjoy your favorite foods!</b>
