@{
    ViewBag.Title = "Home Page";
}

<style>
    .homepage-row {
        display: flex;
        flex-direction: row;
    }
    .hcol-2 {
        padding-top: 100px;
        padding-left: 40px;
    }
</style>


    <div class="container">
        <div class="homepage-row">
            <div class="col">
                <h2>We have range of prodducts available!</h2>
                <img src="https://i.pinimg.com/originals/80/89/bc/8089bc87cd0dc57871f4f24a93bd255d.png" alt="Indian Spices" width="400" height="400">
            </div>
            <div class="hcol-2">
                <h2>Check it out!</h2>
                <b>Indian spices include a variety of spices grown across the Indian subcontinent (a sub-region of South Asia). With different climates in different parts of the country, India produces a variety of spices, many of which are native to the subcontinent, while others were imported from similar climates and have since been cultivated locally for centuries.</b>
            </div>
        </div>
    </div>

